
CREATE PROC SP_KAYIT_OL
(
@FIRSTNAME NVARCHAR(200),
@LASTNAME NVARCHAR(200),
@EMAIL NVARCHAR(200),
@PASSWORD NVARCHAR(200)
)
AS
BEGIN
	INSERT INTO USERS(FIRST_NAME,LAST_NAME,EMAIL,PASSWORD) VALUES(@FIRSTNAME,@LASTNAME,@EMAIL,@PASSWORD)

END